# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Datos y modelos (no versionar)
data/raw/
data/processed/
models/checkpoints/
outputs/
assets/private/

# Artefactos de transferencia (Drive)
*.tar

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
wandb/
